# This config file for Travis CI utilizes https://github.com/ros-planning/moveit_ci/ package.
# THIS FILE IS BEING USED TO CI-TEST THE CI SCRIPT ITSELF - do not use this for your moveit repo but instead use the version in README.md
sudo: required
dist: trusty
services:
  - docker
language: cpp
cache: ccache
compiler: gcc

notifications:
  email:
    recipients:
       - dave@dav.ee
env:
  matrix:
    - ROS_DISTRO=melodic ROS_REPO=ros              TEST=clang-format
    - ROS_DISTRO=melodic ROS_REPO=ros              TEST=clang-tidy-check                UPSTREAM_WORKSPACE=clang-tidy.rosinstall
    - ROS_DISTRO=melodic ROS_REPO=ros              TEST=clang-tidy-fix                  UPSTREAM_WORKSPACE=clang-tidy.rosinstall

    - ROS_DISTRO=kinetic ROS_REPO=ros              TEST=clang-format
    - ROS_DISTRO=kinetic ROS_REPO=ros              TEST=clang-tidy-check                UPSTREAM_WORKSPACE=clang-tidy.rosinstall
    - ROS_DISTRO=kinetic ROS_REPO=ros              TEST=clang-tidy-fix                  UPSTREAM_WORKSPACE=clang-tidy.rosinstall

    # Test BEFORE_SCRIPT and ros vs. ros-shadow-fixed
    - ROS_DISTRO=kinetic ROS_REPO=ros              BEFORE_SCRIPT="echo first && false; echo second > /dev/null; echo Testing on $ROS_DISTRO"
    - ROS_DISTRO=kinetic ROS_REPO=ros-shadow-fixed BEFORE_SCRIPT="wget -nv www.google.com"

      TEST_BLACKLIST=moveit,moveit_ros,moveit_runtime,moveit_ros_perception
      UPSTREAM_WORKSPACE="https://raw.githubusercontent.com/ros-planning/moveit/kinetic-devel/moveit.rosinstall,
                          https://raw.githubusercontent.com/ros-planning/moveit/kinetic-devel/moveit.rosinstall"
                          # Duplicated rosinstall file for testing purposes

before_script:
  - ln -s . .moveit_ci # pretend to have the usual location

script:
  - .moveit_ci/travis.sh
